*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}


.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    min-height: 100vh;
    grid-gap:2rem;
}
.img-container{
    overflow: hidden;
}

.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.img-container img:hover{
    transform: scale(1.2);
}

.modal{
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.25s ease-out;
}
.modal.open{
    opacity: 1;
    pointer-events: all;
}
.full-img{
    position: absolute;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.5);
    transition: all 0.25s ease-out;
}
.full-img.open{
    transform: translate(-50%,-50%) scale(1);
}

.modal p{
    color: white;
    font-size: 2rem;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%,-5%);
}
nav{
    color: coral;
    display: grid;
    grid-template-columns: 10% 1fr 1fr 100px 10%;
    width: 100%;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 7;
    background: white;
}
nav h1{
    
   margin-top: 5%;
    
    grid-column: 2/3;
}
nav ul{
    display: grid;
    grid-template-columns: 1% 1fr 1fr 1fr 1fr 1%;
    position: relative;
    list-style: none;
    grid-column: 3/4;
    
}
nav ul li{
    font-family: 'Caveat', cursive;
    
    position: absolute;
    display: inline; 
    font-size: 25px;
    margin-top: 50%;

    
}

#li1{
    grid-column: 2/3; 
    margin-top: 30%;
    margin-right: 0%;
    transform: translate(-0%,-50%);

    
}
#li2{
    grid-column: 3/4;
    margin-top: 30%;
    margin-right: 0%;
    transform: translate(-0%,-50%);
}
#li3{
    grid-column: 4/5;
    margin-top: 30%;
    margin-left: 10%;
    transform: translate(-10%,-50%);
}
#li4{
    grid-column: 5/6;
    margin-top: 50%;
    margin-left: 10%;
    transform: translate(-10%,-50%);
}

.booking{

border-radius: 50rem;
 color: rgba(0, 0, 0, 0.5);
 grid-column: 4/5;
 width: 100%;
 font-size: 14px;
 font-weight: bolder;
 cursor: pointer;
 margin-top: 650%;
 bottom: 0%;
 height: 15%;

 

}
.booking:hover{
    color: coral;
}


