<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/styles/style.css' %}">
</head>
<body>
    <nav>
        <h1>Logo</h1>
        <ul>
            <li>Menu</li>
            <li>menu</li>
            <li>menu</li>
        </ul>
        <button class="booking">ЗАКАЗАТЬ</button>
    </nav>


    <section class="topsection">
        <div class="alltopsection">
            <img src="./static/img/sew1.jpeg" alt="">
            <div class="centrTextintop">
                <h1>Everything starts with an idea</h1>
                <p>-Earl Nightngale</p>
            </div>
        </div>
    </section>

    <section class="whatdowedo">
        <div class="allwhatdowedo">
            <img src="./static/img/sew2.jpeg" alt="">
            <div class="textwhatdowedo">
                <h1>Start of the text</h1>
                <p>actually the text</p>
            </div>
        </div>
    </section>


    <section class="mission">
        <div class="allmission">
            <div class="missiontext">
                <h1>Mission top text</h1>
                <p>actually a text</p>
            </div>
            <img src="./static/img/sew4.jpeg" alt="">
        </div>
    </section>


    <section class="photolinks">
        <div class="allphotolinks">
           <a href="" class="img1"> <img src="./static/img/sew2.jpeg" alt="" class="img12" ></a>
           <a href="" class="img2"><img src="./static/img/sew4.jpeg" alt="" class="img2"></a>
        </div>
    </section>


    <section class="whatsnew">
        <div class="allwhatsnew">
            <div class="whatsnewtext">
                <h1>sho</h1>
                <p>aaa</p>
                <p>sss</p>
            </div>
            <img src="./static/img/sew5.jpeg" alt="">
        </div>
    </section>

    <section class="video">

    </section>

    <section class="fot">
        <ul>
            <li>end</li>
            <li>main</li>
            <li>page</li>
        </ul>
        <div class="icons">
        <p>icon1</p>
        <p>icon2</p>
        <p>icon3</p></div>
    </section>
</body>
</html>